
.App {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #4f97a3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  div {
    margin: 10px 0;
  }
  
  span {
    font-size: 2.5rem;
    font-weight: bold;
    color: #222;
    background: #fff;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
    min-width: 60px;
    text-align: center;
  }
  
  button {
    background-color: #63788e;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  button:nth-child(2) {
    background-color: #dc3545;
  }
  
  button:nth-child(2):hover {
    background-color: #b52a37;
  }
  